// default styles for list
.site-navigation ul 
	display: flex
	margin: 0
	padding: 0
	list-style-type: none
// simple dropdown-menu
.dropdown
	position: relative
.submenu
	display: none
	position: absolute
	width: 200px
	z-index: 2
.dropdown:hover .submenu
	display: block
