<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout for navigation.sass</title>
</head>
<body style="background-color: #f2f2f2">
	<h1 style="text-align: center">The page created for demonstration HTML layout. Styles from "navigation.sass" not connected to the page.</h1>
	<!-- simple dropdown-menu-->
	<nav class="site-navigation">
		<ul>
			<li class="dropdown">
				<a href="">1</a>
				<ul class="submenu">
					<li><a href="#">2</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<!-- mobile menu btn-->
	<div class="mobile-menu-btn"><span></span></div>



</body>
</html>